header {
	background: #999999 url("../images/flywheel.jpg") no-repeat fixed;
	padding: 20px;
}

nav a {
	display: inline-block;
	margin: 30px;
	border-radius: 5px;
	text-decoration: none;
	padding: 15px 50px;
	background: rgba(255, 255, 255, 0.5);
	color: #000000;
}

nav a.active {
	background: rgba(255, 255, 255, 1.0);
}

body {
	padding: 5px;
	margin: 5px;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

h2 {
	text-transform: capitalize;
	color: #000088;
}

.left {
	width: 30%;
	height: auto;
	float: left;
	background: #779933;
}

.right {
	width: 65%;
	float: left;
}

img {
	width: 80%;
	border: 5px solid black;
	margin: 30px auto;
	display: block;
}